//typography
$billboard: 125px;
$header1: 102px;
$header2: 72px;
$header3: 51px;
$header4: 36px;
$header5: 26px;
$header6: 18px;



$headerFont: 'Tusker Grotesk', sans-serif;
$bodyFont: 'DM Sans', sans-serif;
$billBoardFont: 'Tusker Grotesk', sans-serif; 


//breakpoints
$fourkscreen: 1800px;
$largeScreen: 1300px;
$tabletScreen: 850px;
$mobileScreen: 550px;



//spacing
$s1: 8px;
$s2: 16px;
$s3: 24px;
$s4: 32px;
$s5: 40px;
$s6: 48px;
$s7: 56px;
$s8: 64px;
$s9: 72px;
$s10: 80px;


//custom spacing variables
$section-spacing: 256px;






//colour pallete
$primary-colour: #FF8000;
$panel-background-colour: #363636;
$panel-background-colour: rgb(49, 49, 49);
$primary-text-colour: #E6E2E2;
$secondary-text-colour: #dfdfdf;
$appBackgroundColour: #161616;
$linkArrowColour: #838383;