@import "../../variables.scss";

.button {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: $s10;
    height: $s10;
    color: $primary-text-colour;

    img{
        position: absolute;
        left: calc(90% - $s2);
        transition: all 0.25s;
    }

    &:hover{
        img{
            left: calc(90% - $s1);
        }
    }
}
