@import "../../variables.scss";

.AboutMe {
  min-height: 75vh;
  display: grid;
  position: relative;
  align-items: center;
  margin: $s10 $s8;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  background: $panel-background-colour;

  .leftSection {
    position: relative;
    height: 100%;

    h1 {
      position: absolute;
      left: 15%;
      font-size: $billboard;
      opacity: 0.05;
      margin: $s4;
    }
    img {
      position: absolute;
      bottom: -$s1;
      left: -$s1;
    }
  }

  h3 {
    margin-bottom: $s6;
    font-weight: bold;
  }
  p {
    line-height: 1.2em;
    font-size: $header6;
    width: calc(100% + 48px);

    a {
      color: unset;
      text-decoration: unset;
    }
  }
}

@media screen and (max-width: $largeScreen) {
  .AboutMe {
    grid-template-columns: 0.75fr 1fr;

    .leftSection {
      h1 {
        font-size: 150px;
      }
    }
  }
}

@media screen and (max-width: $tabletScreen) {
  .AboutMe {
    grid-template-columns: 0.05fr 1fr;
    margin: $s10 $s2;

    .leftSection {
      position: unset;
      h1 {
        font-size: 150px;
        left: 0;
        margin: 0;
        word-break: break-all;
      }

      img {
        left: 0;
        width: 100%;
      }
    }

    .rightSection{
      p{
        position: unset;
        width: unset;
      }
    }
  }
}
