.Homepage{

    .jobSection{
        height: 70vh;

        left: 0;

        svg{
            position: relative;
            top: -90vh;
            opacity: 0.1;
            width: 17233px;
        }
    }
}