@import "../variables.scss";


.projectHoverCursor {
  max-width: 300px;
  pointer-events: none;
  display: none;
  z-index: 1000000;
}

.Projects {
  background-color: $primary-text-colour;
  display: grid;
  width: 100vw;
  padding: $s10 ;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  transform-origin: 50% 50%;

  .skeletonId {
    position: absolute;
    left: 0;
    color: unset;
    -webkit-text-stroke: 1px solid white;
  }



  .project {
    max-width: 100%;
    min-width: 0;
    height: 560px;
    padding: $s10 $s8;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
    border-bottom: calc($s1/2) solid white;

    &:last-child {
      border: none !important;
      border-bottom: unset;
    }

    // h1 {
    //   text-align: left;
    //   padding-left: $s10;
    //   width: calc(100vw - $s10 * 2);
    //   justify-self: center;
    // }

    .projectDetails {

      display: grid;
      gap: $s10;


      h1{
        display: grid;
        justify-content: center;

        *{
          position: relative;
          right: 40vw;
        }
      }

      .markee {
        display: flex;
        align-items: center;
        gap: $s10;

        img {
          width: 200px;
        }


      }

      .projectTitle {
        width: max-content;
        display: flex;
        align-items: center;
        gap: $s10;

      }
    }
  }
}


.markee:hover .projectHoverCursor {
  display: block;
}

@media screen and (max-width: $tabletScreen) {
  .Projects {
    padding: $s5 ;

    .project {
      height: 400px;
      padding: $s5 $s8;
    }
  }
}