@import '../../variables.scss';


.swiper-button-next, .swiper-button-prev, .swiper-button-disabled{
  opacity: 0 !important;
}
.Projects
{
  min-height: 100vh;
  margin: $s10 $s8;


  .sectionTitle
  {
    margin-top: 2em;
    font-size: 4em;
    color:$primary-colour;
    font-weight: bold;
    margin-bottom: 2em;
  }

  .customNavButtons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    position: relative;

    h5{
      display: flex;
      align-items: center;
      gap: $s2;
      color: $linkArrowColour;
      &:hover{
        
      }

      svg{
        height: 80px;
        width: 80px;
        &:hover{
          path{
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: strokeanimation 1s linear forwards;
          }
        }
      }
    }
  }


}


@media screen and (max-width: $tabletScreen) {
  .Projects{
    margin: $s10 $s2;
  }
}



@keyframes strokeanimation {
  to {
    stroke-dashoffset: 0;
  }
}



