@import "../../variables.scss";

.Skills {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  align-items: center;
  margin: $s5 $s8;
  text-align: left;
  
  .sectionTitle {
    position: sticky;
    top: $s8;
  }
  
  .rightSection {
    position: relative;
    height: 100%;
    display: grid;
    gap: $s1;

    .skill {
      border-bottom: calc($s1/4) solid white;
      padding: $s1 0;
      display: grid;
      gap: $s2;
      align-items: center;

      .toolsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: $s1;

        .tool {
          background-color: $panel-background-colour;
          padding: $s1 $s2;
          border-radius: $s2;
          display: flex;
          align-items: center;
          gap: $s1;
          transition: all 0.25s;
          
          &:hover{
            background-color: $primary-colour;

          }
          img {
            height: $s3;

          }

          div {
            span {
              font-size: $header6 !important;
            }

            align-items: center;
          }
        }
      }
    }

  }


  p {
    bottom: 100px;
  }




  .leftSection {


    .skillBubble {
      border: 1px solid $primary-text-colour;
      border-radius: 100px;
      width: 100px;
      height: 100px;
      display: grid;
      justify-items: center;
      align-content: center;
      position: absolute;

      img {
        max-width: 60%;
        transition: all 0.25s;

        // filter: grayscale(1);
        &:hover {
          filter: grayscale(0);
        }
      }
    }




    p {
      line-height: 1.2em;
      z-index: 1;

      a {
        color: unset;
        text-decoration: unset;
      }
    }
  }

}

@media screen and (max-width: $largeScreen) {
  .Skills {
    grid-template-columns: 1fr;

  }
}


@media screen and (max-width: $tabletScreen) {
  .Skills {
    grid-template-columns: 1fr;

    margin: $s5 $s2;

  }
}


@keyframes cubeanimation {

  0% {
    transform: rotateX(0deg) rotateY(0deg)
  }

  25% {
    transform: rotateX(45deg) rotateY(-30deg)
  }

  50% {
    transform: rotateX(-90deg) rotateY(30deg)
  }

  100% {
    transform: rotateX(145deg) rotateY(50deg)
  }

}