
@import "../../variables.scss";

.Skills {
  min-height: 75vh;
  display: grid;
  position: relative;
  align-items: center;
  margin: $s10 $s8;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  background: $panel-background-colour;

  .rightSection {
    position: relative;
    height: 100%;

    h1 {
      position: absolute;
      left: -15%;
      top: 50px;
      font-size: $billboard;
      opacity: 0.05;
      margin: $s4;
    }
    img {
      position: absolute;
      bottom: -$s8;
      right: -$s1;
    }
  }

  

  h3 {
    margin-bottom: $s6;
    font-weight: bold;
    position: relative;
    left: -$s4;
  }
  p {
    line-height: 1.2em;
    font-size: $header6;
    width: calc(100% + 48px);
    position: relative;
    left: -$s4;

    a {
      color: unset;
      text-decoration: unset;
    }
  }
}

@media screen and (max-width: $largeScreen) {
  .Skills {
    grid-template-columns: 0.75fr 1fr;

    .rightSection {
      h1 {
        font-size: 150px;
      }
    }
  }
}


@media screen and (max-width: $tabletScreen) {
  .Skills {
    grid-template-columns: 0.05fr 1fr;
    margin: $s10 $s2;

    .rightSection {
      h1 {
        font-size: 150px;
      }

      img {
        transform: scale(0.75);
      }
    }

    .leftSection{
      p{
        position: unset;
        width: unset;
      }
    }
  }
}


.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
  display: grid;
  justify-items: center;
  justify-self: center;
  align-self: center;


  .cube {
    transform: translateZ(-100px);
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation-name: cubeanimation;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;

    .cube__face {
      position: absolute;
      width: 200px;
      height: 200px;
      background-color: rgba(0,0,0,0.75);
      display: grid;

      img
      {
        width: 75%;
        height: 75%;
        align-self: center;
        justify-self: center;
      }
    }

    .cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
    .cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
    .cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
    .cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
    .cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
    .cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

  }
}
@keyframes cubeanimation {

  0%{transform: rotateX(0deg) rotateY(0deg)}
  25%{transform: rotateX(90deg) rotateY(-30deg)}
  50%{transform: rotateX(-90deg) rotateY(30deg)}
  100%{transform: rotateX(145deg) rotateY(50deg)}

}

@keyframes paragraphanimation {
  0%{top:250px;opacity: 0;visibility: hidden}
  100%{top:0;opacity: 1;visibility: visible}

}

