@import '../../../variables.scss';

.Intro {
  min-height: calc(100vh - 144px);
  display: grid;
  position: relative;
  text-align: left;
  padding: $s4 $s10;
  gap: $s2;
  max-width: 1250px;
  margin: 0 auto 0 auto;

  .arrowDown {
    position: absolute;
    bottom: $s10;
    left: calc($s1 * 12);
    border-radius: calc($s1 * 100);
    width: calc($s1 * 10);
    height: calc($s1 * 10);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    transform: rotateZ(90deg);
    transition: all 0.25s;
    padding: $s1;

    img {
      position: relative;
      left: -$s1;
      width: 100%;
      height: 100%;
      transition: all 0.25s;
    }


    &:hover {
      img {
        left: $s2;
      }
    }

  }

  a {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 0;
    right: calc($s1 * 12);

    .GetInTouchSection {

      width: $s10;
      height: $s10;
      border-radius: calc($s1 * 100);
      border: 1px solid white;
      padding: $s1;
      display: grid;

      img {
        position: relative;
        left: -$s1;
        transition: all 0.25s;
      }


      &:hover {
        img {
          left: $s2;
        }
      }

      .GetInTouch {
        display: grid;
        justify-content: center;
        align-content: center;
        transition: all 0.25s;


        &:hover {
          transform: translateY(-10px);

        }
      }


    }
  }

  .TopSection {
    display: grid;
    position: relative;
    justify-content: start;
    align-content: center;
    
    .job-title {
      margin: 0;
      animation-delay: 4.75s;
      z-index: 4;
      background-color: $appBackgroundColour;



      .CircularText {
        color: white;
        position: absolute;
        top: 0;
        right: $s10;
        font-size: $s2;
      }

    }


  }

  .middleSection {
    max-height: 800px;
    max-width: 800px;
    position: absolute;
    justify-self: center;
    z-index: 3;
    display: grid;
    // display: none;

    .SlideRevealComponent{
      .childrenContainer{
        line-height: 0;
      }
    }

    &:hover {
      .SlideRevealComponent {
        .childrenContainer {
          .blockers {
            width: 0 !important;
          }

          img {
            filter: grayscale(0);

          }
        }
      }

    }

    .blockers {
      background-color: $appBackgroundColour;
      z-index: 4;
      transition: all 0.25s;
    }



    img {
      width: 50vh;
      height:auto;
      justify-self: center;
      filter: grayscale(1);
      border-style: none;
      outline: 0;
      border: 0;
      object-fit: fill;
    }
  }


  .BottomSection {
    display: grid;
    justify-content: end;
    z-index: 3;
    position: relative;
    align-content: center;


    .name {
      z-index: 2;
      color: $linkArrowColour;
      margin: 0;
      text-align: right;
      background-color: $appBackgroundColour;



    }

    .SlideRevealComponent {
      width: 100% !important;
      text-align: right;

      .childrenContainer {
        width: 100%;
      }
    }


  }
}



@keyframes nameanimation {
  0% {
    letter-spacing: 10px;
    opacity: 0
  }

  100% {
    letter-spacing: normal;
    opacity: 1
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}







@media screen and (max-width: 1550px) {
  .Intro {

    .BottomSection {
      .name {
        left: - calc($s1 * 15);
        font-size: calc($s1 * 17.5);
      }
    }
  }
}


@media screen and (max-width: $largeScreen) {
  .Intro {
    display: grid;
    grid-template-columns: 1fr;


    .TopSection {
      display: flex;

      .job-title {
        max-width: 500px;
      }
    }

    .BottomSection {
      .name {
        left: 0;
      }
    }

  }
}

@media screen and (max-width: $largeScreen) {


  .Intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: $s4;

    .TopSection {
      display: grid;

      .job-title {
        max-width: 500px;
        font-size: calc($s1 * 12);
        left: unset;


      }
    }

    .middleSection {
      position: unset;


      img {
        border-radius: 100%;
        right: $s2;
      }
    }

    .BottomSection {
      .name {
        left: 0;
        font-size: calc($s1 * 12);
        max-width: 600px;
      }


    }

    .arrowDown {
      bottom: -$s2;
    }
  }
}

@media screen and (max-width: 1100px) {
  .Cursor {
    display: none;
  }
}

@media screen and (max-width: $tabletScreen) {
  .Cursor {
    display: none;
  }
}


@media screen and (max-width: 600px) {

  .Intro {
    min-height: unset;
    align-items: center;
    padding: 0 $s3;
    align-content: center;

    a {
      position: relative;
      left: unset;
      right: unset;
    }

    .arrowDown,
    a .GetInTouchSection {
      display: none;
    }

    .TopSection {
      height: unset;

      .job-title {
        max-width: 500px;
        font-size: calc($s1 * 8);
        left: 0;
        margin-bottom: 0;
        letter-spacing: $s1;

        .CircularText {
          display: none;
        }

      }
    }

    .BottomSection {
      display: grid;

      .name {
        font-size: calc($s1 * 8);



        .CircularText {
          display: none;
        }
      }

      // a {
      //   .GetInTouchSection {
      //     position: relative !important;
      //     right: unset !important;
      //     left: unset !important;
      //     width: unset;
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;

      //     &:hover {
      //       img {
      //         left: unset;
      //       }
      //     }

      //     img {
      //       position: absolute;
      //       left: unset;
      //       right: -$s2;
      //     }
      //   }
      // }

    }
  }
}







@media screen and (max-width: 425px) {

  .Intro {


    .TopSection {

      .job-title {
        font-size: calc($s1 * 7);

      }
    }

    .BottomSection {
      display: grid;

      .name {
        font-size: calc($s1 * 8);

      }

      // a {
      //   .GetInTouchSection {
      //     position: relative !important;
      //     right: unset !important;
      //     left: unset !important;
      //     width: unset;
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     min-width: 300px;
      //   }
      // }

    }
  }
}