@import '../../../variables.scss';

.Intro {
  height: calc(100vh - 144px);
  display: grid;
  position: relative;
  text-align: left;
  padding: $s4 $s10;
  gap: $s2;
  max-width: 1350px;
  margin: 0 auto 0 auto;

  .arrowDown {
    position: absolute;
    bottom: $s10;
    left: 0;
    border-radius: calc($s1 * 100);
    width: calc($s1 * 10);
    height: calc($s1 * 10);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    transform: rotateZ(90deg);
    transition: all 0.25s;
    padding: $s1;
    box-sizing: border-box;

    img {
      position: relative;
      left: -$s1;
      width: 100%;
      height: 100%;
      transition: all 0.25s;
    }


    &:hover {
      img {
        left: $s2;
      }
    }

  }

  a {
    text-decoration: none;
    color: white;

    .GetInTouchSection {
      position: absolute;
      top: 0;
      right: calc($s1 * 12);
      width: $s10;
      height: $s10;
      border-radius: calc($s1 * 100);
      border: 1px solid white;
      padding: $s1;
      display: grid;

      img {
        position: relative;
        left: -$s1;
        transition: all 0.25s;
      }


      &:hover {
        img {
          left: $s2;
        }
      }

      .GetInTouch {
        display: grid;
        justify-content: center;
        align-content: center;
        transition: all 0.25s;


        &:hover {
          transform: translateY(-10px);

        }
      }


    }
  }

  .TopSection {
    display: grid;
    position: relative;
    justify-content: start;
    z-index: 2;


    .job-title {
      margin: 0;
      animation-delay: 4.75s;
      z-index: 1;




      .CircularText {
        color: white;
        position: absolute;
        top: 0;
        right: $s10;
        font-size: $s2;
      }

    }


  }

  .middleSection {
    // display: none;
    max-height: 200px;
    max-width: 200px;
    position: absolute;
    justify-self: center;
    z-index: 1;
    img{
      max-height: 50vh;
      max-width: 50vw;
    }
  }


  .BottomSection {
    display: grid;
    justify-content: end;
    z-index: 3;  
    position: relative;
  

    .name {
      z-index: 2;
      font-size: calc($s1 * 12);
      -webkit-text-stroke: calc($s1/4) $primary-text-colour;
      color: $appBackgroundColour;
      margin: 0;
      text-align: right;
    


      .CircularText {
        color: white;
        position: absolute;
        left: -$s1;
        top: 0;
        font-size: $s2;
        animation-direction: reverse;
      }

    }
  }
}



@keyframes nameanimation {
  0% {
    letter-spacing: 10px;
    opacity: 0
  }

  100% {
    letter-spacing: normal;
    opacity: 1
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}







@media screen and (max-width: 1550px) {
  .Intro {

    .BottomSection {
      .name {
        left: - calc($s1 * 15);
        font-size: calc($s1 * 17.5);
      }
    }
  }
}


@media screen and (max-width: $largeScreen) {
  .Intro {
    display: grid;
    grid-template-columns: 1fr;


    .TopSection {
      display: flex;

      .job-title {
        max-width: 500px;
      }
    }

    .BottomSection {
      .name {
        left: 0;
      }
    }

  }
}

@media screen and (max-width: $largeScreen) {


  .Intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: $s4;

    .TopSection {
      display: grid;
      .job-title {
        max-width: 500px;
        font-size: calc($s1 * 12);
        left: unset;


      }
    }

    .middleSection{
      position: unset;
      display: none;
      img{
        border-radius: 100%;
        right: $s2;
      }
    }

    .BottomSection {
      .name {
        left: 0;
        font-size: calc($s1 * 12);
        max-width: 600px;
      }
    }

    .arrowDown {
      bottom: -$s2;
    }
  }
}

@media screen and (max-width: 1100px) {
  .Cursor {
    display: none;
  }
}

@media screen and (max-width: $tabletScreen) {
  .Cursor {
    display: none;
  }
}


@media screen and (max-width: 550px) {

  .Intro {
    min-height: unset;
    align-items: center;
    padding: $s4 $s3;


    .arrowDown {
      display: none;
    }

    .TopSection {
      height: unset;

      .job-title {
        max-width: 500px;
        font-size: calc($s1 * 8);
        left: 0;
        margin-bottom: 0;
        letter-spacing: $s1;

        .CircularText {
          display: none;
        }

      }
    }

    .BottomSection {
      display: grid;

      .name {
        font-size: calc($s1 * 8);
        max-width: 600px;


        .CircularText {
          display: none;
        }
      }

      a {
        .GetInTouchSection {
          position: relative !important;
          right: unset !important;
          left: unset !important;
          width: unset;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            img {
              left: unset;
            }
          }

          img {
            position: absolute;
            left: unset;
            right: -$s2;
          }
        }
      }

    }
  }
}







@media screen and (max-width: 425px) {

  .Intro {


    .TopSection {

      .job-title {
        font-size: calc($s1 * 7);

      }
    }

    .BottomSection {
      display: grid;

      .name {
        font-size: calc($s1 * 8);

      }

      a {
        .GetInTouchSection {
          position: relative !important;
          right: unset !important;
          left: unset !important;
          width: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 300px;
        }
      }

    }
  }
}