.Contactblock
{
  position: absolute;
  bottom: 0;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.25s;
  display: grid;
  background-color: rgb(50,50,50);

  div
  {
    padding: 1em;
    border-bottom: 1px solid black;
    img
    {
      align-self: center;
      justify-self: center;
      height: 40px;
      width: 40px;

    }
    &:last-child
    {
      border-bottom: none;
    }
  }


}



@media only screen and (max-width: 768px) {
  .Contactblock
  {
    display: none;
  }
}
