
@import "../../variables.scss";

.CircularText{
    position: relative;
    width: 100px;
    height: 100px;
    animation-name: spinAnimation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    padding: $s2;
    border-radius: 1000px;
    mix-blend-mode: difference;

    span{
        height: 100px;
        position: absolute;
        width: 20px;
        left: $s1;
        top: $s1;
        transform-origin: bottom right;

    }
}



@keyframes spinAnimation {
    0%{transform: rotateZ(0);}
    100%{transform: rotateZ(360deg);}
}