@import '../scss-class.scss';
.App {
  text-align: center;
  position: relative;
  overflow-x: hidden;
  background: $appBackgroundColour;
  font-family: $bodyFont;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body
{
  background-color: rgb(20,20,20);
  color: white;

}




.first
{
  height: 100%;
  width: 100%;
  background-color:rgb(20,20,20);
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 2000;

}

.first img
{
  height: 300px;
  width: 400px;
}





@media only screen and (min-width : 0px)and (max-width: 400px)
{
  .first img
  {
    width: 100vw;
  }

}


