@import "../../../variables.scss";

.Nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: $s4 $s8;
  z-index: 11;
  border-bottom: 1px solid $panel-background-colour;



  .rightSection {
    display: flex;
    justify-content: flex-end;
    gap: $s10;

    .ContactLinks {
      display: grid;
      justify-content: end;

      ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        margin: 0 !important;
        padding: 0;
        align-content: center;



        li {
          transition: all 0.15s;
          display: flex;
          align-items: center;
          margin-right: $s4;

          a {
            color: $primary-text-colour;
            text-decoration: none;
            display: flex;
            align-items: center;

            span {
              display: flex;
              align-items: center;
            }

            svg {
              transition: all 0.25s;
            }

            &:hover {
              svg {
                transform: rotateZ(-90deg);
              }
            }
          }
        }
      }
    }

    .hamburger {
      display: flex;
      align-items: center;
      gap: $s1;
      align-self: center;
      justify-self: start;
      z-index: 11;
      position: relative;
      // mix-blend-mode: difference;


      svg {
        font-size: $s4;
      }

      &::after {
        content: '';
        position: absolute;
        background-color: white;
        width: 0;
        height: 0;
        top: -50%;
        left: -50%;
        border-radius: 1000px;
        transition: all 0.25s;
        z-index: -1;
      }

      &:hover {
        label span {
          background-color: black;
        }

        &::after {
          width: 200%;
          height: 200%;
        }

      }
    }

    .hamburgermenu {
      background-color: rgb(218, 218, 218);
      position: fixed;
      left: 0;
      width: 100vw;
      height: 100vh;
      transition: 0.75s cubic-bezier(1, .01, .62, 1.01);
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;

      .socials {
        position: absolute;
        bottom: 8px;
        right: 100px;
        display: flex;
        gap: 16px;
        align-items: center;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      ul {
        display: grid;
        position: relative;
        list-style: none;
        width: 100vw;
        justify-content: end;
        gap: $s2;
        margin: 0;
        padding: $s8;

        li {
          justify-self: center;
          font-size: max(calc(100vw/20), $s6);
          display: grid;
          font-family: $headerFont;
          font-weight: bold;
          transition: all 0.25s;
          animation-delay: 1s;

          &:hover {
            .nav-index-number {
              position: relative;
              top: -$s1;
              color: $primary-colour;
            }
          }

          .nav-index-number {
            position: relative;
            top: 0;
            font-size: 16px;
            font-weight: normal;
            margin-right: 4px;
            transition: all 0.25s;
          }


          &::after {
            background-color: rgb(218, 218, 218);
            transition: all 0.5s;
            animation-delay: 1s;
          }



          a {
            align-self: center;
            text-decoration: none;
            color: black;
            position: relative;
            transition: all 0.25s;
            top: 0;

            &:hover {

              a {
                top: -10px;
              }
            }
          }
        }
      }
    }
  }

  .NavigationLinks {
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        transition: all 0.15s;
        font-size: 1.15em;
        margin-right: 2em;

        a {
          color: white;
          text-decoration: none;
        }

        &:hover {
          border-bottom: 2px solid aquamarine;

        }
      }
    }
  }
}

.logoContainer{
  padding: $s4 $s8;
}

@media only screen and (max-width: 968px) {
  .Nav {
    .rightSection {
      .hamburgermenu {

        ul {
          justify-content: center;
        }
      }
    }



  }
}

@media only screen and (max-width: $tabletScreen) {
  .Nav {
    padding: $s4 $s3;

    .leftSection {

      .logo {
        height: $s6;
        width: $s6;
      }


    }

    .rightSection{
      .ContactLinks {

        display: none;
        ul {
          display: flex;

          li {
            span {
              font-size: $s2 !important;
            }
          }
        }
      }
    }
  }

  .logoContainer{
    padding: $s4 $s3;
  }
}